body{
  background-color: $ltyell;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  h1, p, ul{
    margin: 0;
    font-size: inherit;
  }

  ul{
    padding: 0;
  }
}

#root{
  display: flex;
  flex-direction: column;
  height: 90vh;
  @media screen and (min-width: $desktop){
    margin-top: 10vh;
  }
}

.page{
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 32px;
  text-align: center;
  margin: 5vh 0 8vh 0;
}

.button{
  border-radius: $button-border;
  font-size: 1.25rem;
  height: 60px;
  text-transform: uppercase;
  width: 50vw;
  margin-bottom: 2%;
  @media screen and (min-width: $tablet){
    font-size: 1.5rem;
    height: 75px;
    width: 200px;
  }
  &:hover{
    cursor: pointer;
  }
}

.input{
  background-color: $white;
  border-radius: $button-border;
  height: 50px;
  padding-left: 2%;
  font-family: inherit;
  font-size: 20px;
  color: $black;
   @media screen and (min-width: $tablet){
    width: 350px;
  }
}

.hidden{
  display: none;
}