.nav{
  box-sizing: border-box;
  background-color: $white;
  border-top: 2px solid $yell;
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  width: 100%;
  transition-duration: .5s;
  @media screen and (min-width: $desktop){
    top: 0;
    margin-bottom: 10vh;
    border-top: none;
    border-bottom: 2px solid $yell;
  }
}

.nav__icon{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  height: 100%;
  text-align: center;
  transition-duration: .5s;
  max-height: 60px;
  div{
    height: 90%;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition-duration: .5s;
    margin: 0 auto;
  }
  p{
    display: none;
  }
  @media screen and (min-width: $desktop){
    background-position: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    color: $yell;
    font-size: 24px;
    div{
      margin: 0;
      max-height: 60px;
    }
    p{
      color: inherit;
      display: block;
      text-align: center;
      margin-left: 2%;
    }
    &:visited{
      color: inherit;
      text-decoration: none;
    }
  }
  &:hover{
    div{
      transition-duration: .5s;
    }
  }
}

.nav__icon--calendar{
  div{
    background-image: url('../images/icons/calendar-yellow.svg');
  }
  &:hover{
    @extend .nav__icon--calendar--selected;
  }
}

.nav__icon--calendar--selected{
  div{
    background-image: url('../images/icons/calendar-blue.svg');
    transition-duration: .5s;
  }
  color: $blue;
  transition-duration: .5s;
}

.nav__icon--droplet{
  div{
    background-image: url('../images/icons/droplet-yellow.svg');
  }
  &:hover{
    @extend .nav__icon--droplet--selected;
  }
}

.nav__icon--droplet--selected{
  div{
      background-image: url('../images/icons/droplet-red.svg');
      transition-duration: .5s;
    }
    color: $red;
    transition-duration: .5s;
}

.nav__icon--settings{
  div{
    background-image: url('../images/icons/settings-yellow.svg');
  }
  &:hover{
    @extend .nav__icon--settings--selected;
  }
}

.nav__icon--settings--selected{
  color: $black;
  transition-duration: .5s;
  div{
      background-image: url('../images/icons/settings-black.svg');
      transition-duration: .5s;
    }
}

.nav__shell{
  z-index: -1;
  .nav__icon--calendar{
    @extend .nav__icon--calendar--selected;
  }
  .nav__icon--droplet{
    @extend .nav__icon--droplet--selected;
  }
  .nav__icon--settings{
    @extend .nav__icon--settings--selected;
  }
}