.auth{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.auth__form{
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  width: 80%;
}

.auth__form-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2%;
  color: $dkyell;
  input{
    border: 2px solid $dkyell;
    height: 100px;
  }
  &:last-of-type{
    margin-top: 2vh;
  }
}

.auth__title{
  color: $dkyell;
  @extend .page-title;
}

.auth__login-signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: $black;
    a {
      font-weight: bold;
      &:hover{
        color: $blue;
      }
      &:visited{
        color: inherit;
      }
    }
  }
}

.auth__submit{
  background-color: $dkyell;
  border: 0px;
  color: $white;
  border-radius: $button-border;
  font-size: 4rem;
  height: 10vh;
  text-transform: uppercase;
  width: 60vw;
}