<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PokeLog</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src='./javascripts/bundle.js'></script>
    <script type="text/javascript">
          <% if (currentUser) { %>
            window.currentUser = <%- (currentUser) %>
          <% } %>
    </script>
  </head>
  <body>
    <main id="root">
    </main>
    <div class='nav'>
      <a href='/poke-log' class='nav__icon nav__icon--calendar'>
        <div class=''></div>
        <p>Poke Log</p>
      </a>
      <a href='/#/log-a-poke' class='nav__icon nav__icon--droplet'>
        <div class=''></div>
        <p>Log A Poke</p>
      </a>
      <a href='/#/settings' class='nav__icon nav__icon--settings'>
        <div class=''></div>
        <p>Settings</p>
      </a>
    </div>
  </body>
</html>
