.calendar {
  @extend .page;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calendar {
  @extend .page-title;
  color: $blue;
}

.calendar__select-month{
  @extend .input;
  border: 2px solid $blue;
  font-size: 1rem;
}

.calendar__grid{
  background-color: $white;
  border-radius: $button-border;
  height: 50vh;
  margin-top: 2%;
  width: 50vh;
  border: 2px solid $blue;
  display: flex;
  flex-direction: column;
}

.grid__days{
  background-color: $blue;
  color: $white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  border-bottom: 2px solid $blue;
  font-size: 14px;
}

.days__container{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.day{
  border: .5px solid $blue;
  width: 14.1%;
}

.day__date{
  font-size: 14px;
  text-align: left;
  padding: 3% 0 0 3%;
}