.heat-map {
  @extend .page;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heat-map__title {
  color: $red;
  @extend .page-title;
}

.heat-map__labels {
  width: 43vh;
  display: flex;
  justify-content: space-between;
}

.heat-map__diagram {
  background-image: url('../images/icons/heat-map.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80vh;
  height: 80vh;
}

