.log-poke {
    @extend .page;
}

.log-poke__title {
  color: $red;
  @extend .page-title;
}

.log-poke__form {
    color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 80%;
  max-width: 350px;
  @media screen and (min-width: $tablet){
    align-items: center;
    font-size: 2rem;
  }
}

.log-poke__form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $red;
    @extend .subtitle;
    margin-bottom: $form-margin;
    width: 100%;
}

.log-poke___toggle-bttn input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.log-poke__form-field label {
    background-color: $white;
    border: 2px solid $red;
    border-radius: $button-border;
    color: $red;
    flex: 1;
    font-size: 1.25rem;
    height: 55px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    &:last-of-type{
        margin-left: 5px;
    }

    @media screen and (min-width: $tablet){
        height: 55px;
        width: 200px;
    }
 }


.log-poke__form-field label:hover {
	cursor: pointer;
}

.log-poke___toggle-bttn {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input:checked + label {
        background-color: $red;
        color: $white;
    }
}

.switch_left, .switch_right{
    background-color: $white;
    border: $input-border solid $red;
    border-radius: $button-border;
    color: $red;
}


.log-poke__form-input{
    border: 2px solid $red;
    @extend .input;
}

.log-poke__form-select {
    background-color: $white;
    border: 2px solid $red;
    border-radius: $button-border;
    box-sizing: border-box;
    height: 50px;
    padding-left: 2%;
    font-size: 1.5rem;
    color: $black;
    width: 100%;
    &:hover{
        cursor: pointer;
    }
    // @media screen (min-width: ){
        
    // }
}

.log-poke__errors{
    @extend .errors;
}

.log-poke__submit {
    background-color: $red;
    border: 0px;
    color: $white;
    transition-duration: .25s;
    @extend .button;
    &:hover{
    background-color: $ltred;
    }
}

