.settings{
  @extend .page;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.settings__title{
  @extend .page-title;
  color: $black;
}

.settings__fields{
  display: flex;
  flex-direction: column;
}

.settings__label{
  margin-top: 5%;;
  @extend .input;
  background-color: $white;
  border: $input-border $black;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
}

.settings__input{
  height: 90%;
  border: 0px;
  padding-left: 2%;
  color: $black;
  &::placeholder{
    color: $black;
  }
}

.settings__input--save{
  &::placeholder{
    color: $gray;
  }
}

.settings__input__button--edit{
  background-image: url(../images/icons/pencil-edit.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 50px;
  border: 0px;
}

.settings__input__button--save{
  background-image: url(../images/icons/save-black.svg);
}

.settings__input--new{
  color: $gray;
}

#shares{
  li {
    &:not(:last-of-type){
      margin-bottom: 3%;
    }
  }
}

.settings__sign-out{
  @extend .button;
  background-color: $black;
  color: $white;
}