.settings{
  @extend .page;
  font-size: 24px;
  width: 80%;
  max-width: 350px;
}

.settings__title{
  @extend .page-title;
  color: $black;
}

.settings__fields{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings__label{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings__input{
  @extend .input;
  border: $input-border $black; 
  box-sizing: border-box;
  font-size: inherit;
  color: $black;
  margin-bottom: $form-margin;
  padding-left: 2%;
  width: 100%;
  &::placeholder{
    color: $black;
  }
}

#shares{
  li {
    &:not(:last-of-type){
      margin-bottom: 3%;
    }
  }
}

.settings_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 6vh;
}

.settings__update{
  @extend .button;
  background-color: $green;
  color: $white;
  width: 45%;
}

.settings__sign-out{
  @extend .button;
  background-color: $red;
  color: $white;
  width: 45%;
}