.settings{
  @extend .page;
  font-size: 24px;
}

.settings__title{
  @extend .page-title;
  color: $black;
}

.settings__fields{
  display: flex;
  flex-direction: column;
}

.settings__label{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings__input{
  @extend .input;
  border: $input-border $black; 
  font-size: inherit;
  height: 90%;
  padding-left: 2%;
  color: $black;
  min-width: 350px;
  margin-bottom: $form-margin;
  &::placeholder{
    color: $black;
  }
}

.settings__input--save{
  &::placeholder{
    color: $gray;
  }
}

.settings__input__button{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 50px;
  border: 0px;
  margin-right: 2%;
  &:hover{
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}

#shares{
  li {
    &:not(:last-of-type){
      margin-bottom: 3%;
    }
  }
}

.settings_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin-top: 6vh;
}

.settings__update{
  @extend .button;
  background-color: $green;
  color: $white;
  width: 45%;
}

.settings__sign-out{
  @extend .button;
  background-color: $red;
  color: $white;
  width: 45%;
}