.splash-page{
  height: inherit;

  main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 

  h1{
    color: $dkyell;
  }

  &__coming-soon{
    color: $dkyell;
    font-style: italic;
    text-align: right;
  }

  &__try-it{
    @extend .button;
    background-color: $mdyell;
    color: $white;
    margin: 0 auto;
  }

  footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    p{
      padding: 2%;
    }
  }
}

.feature{
  background-color: $white;
  border-radius: $button-border;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin: 2vw;
  padding: 5% 2% 2% 2%;
  min-height: 30vh;
  width: 250px;
  article{
    margin-top: 5%;
  }
  h3{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: inherit;
  }
  &--share{
    border-color: $green;
    h3{
      color: $green;
    }
    .feature__icon{
      background-image: url('../images/icons/share-green.svg');
    }
  }
  &--log{
    border-color: $blue;
    h3{
      color: $blue;
    }
    .feature__icon{
      background-image: url('../images/icons/calendar-blue.svg');
    }
  }
  &--poke{
    border-color: $red;
    h3{
      color: $red;
    }
    .feature__icon{
      background-image: url('../images/icons/droplet-red.svg');
    }
  }
  p{
    padding-top: 2%;
  }
}

.feature__icon{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
}