.auth{
  @extend .page;
}

.auth__form{
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  width: 80%;
  @media screen and (min-width: $tablet){
    align-items: center;
    font-size: 2rem;
  }
}

.auth__form-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2%;
  color: $dkyell;
  &:last-of-type{
    margin-top: 2vh;
  }
  
}

.auth__form-input{
  border: 2px solid $dkyell;
  @extend .input;
  &:valid{
    border: 2px solid $green;
    outline-color: $green;
  }
}

.auth__title{
  color: $dkyell;
  @extend .page-title;
}

.auth__login-signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  p {
    color: $black;
    font-size: 16px;
    margin-top: 2%;
    a {
      font-weight: bold;
      &:hover{
        color: $blue;
      }
      &:visited{
        color: inherit;
      }
    }
  }
}

.auth__submit{
  background-color: $dkyell;
  border: 0px;
  color: $white;
  transition-duration: .25s;
  @extend .button;
  &:hover{
    background-color: $mdyell;
  }
}