body {
  background-color: #FCF9F2;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}
body h1 {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-title, .auth__title {
  font-size: 5rem;
  text-align: center;
}

.mobile-nav {
  background-color: white;
  border-top: 2px solid #F7DA99;
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2%;
  flex: 1;
  height: 50%;
}

.calendar--inactive {
  background-image: url("../images/icons/calendar-yellow.svg");
}

.droplet--inactive {
  background-image: url("../images/icons/droplet-yellow.svg");
}

.settings--inactive {
  background-image: url("../images/icons/settings-yellow.svg");
}

.auth {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.auth__form {
  color: #0b101a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  width: 80%;
}

.auth__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2%;
  color: #e4a312;
}
.auth__form-field input {
  border: 2px solid #e4a312;
  height: 100px;
}
.auth__form-field:last-of-type {
  margin-top: 2vh;
}

.auth__title {
  color: #e4a312;
}

.auth__login-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth__login-signup p {
  color: #0b101a;
}
.auth__login-signup p a {
  font-weight: bold;
}
.auth__login-signup p a:hover {
  color: #6285db;
}
.auth__login-signup p a:visited {
  color: inherit;
}

.auth__submit {
  background-color: #e4a312;
  border: 0px;
  color: white;
  border-radius: 5px;
  font-size: 4rem;
  height: 10vh;
  text-transform: uppercase;
  width: 60vw;
}
