body {
  background-color: #FCF9F2;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body h1, body p, body ul {
  margin: 0;
  font-size: inherit;
}
body ul {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
@media screen and (min-width: 1000px) {
  #root {
    margin-top: 10vh;
  }
}

.page, .auth, .settings, .log-poke, .calendar {
  height: 90vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.page-title, .auth__title, .settings__title, .log-poke__title, .calendar__title {
  font-size: 32px;
  text-align: center;
  margin: 5vh 0 8vh 0;
}

.button, .auth__submit, .settings__sign-out, .log-poke__submit {
  border-radius: 5px;
  font-size: 1.25rem;
  height: 60px;
  text-transform: uppercase;
  width: 50vw;
  margin-bottom: 2%;
}
@media screen and (min-width: 500px) {
  .button, .auth__submit, .settings__sign-out, .log-poke__submit {
    font-size: 1.5rem;
    height: 75px;
    width: 200px;
  }
}
.button:hover, .auth__submit:hover, .settings__sign-out:hover, .log-poke__submit:hover {
  cursor: pointer;
}

.input, .auth__form-input, .settings__label, .log-poke__form-input, .calendar__select-month {
  background-color: white;
  border-radius: 5px;
  color: #0b101a;
  height: 50px;
  font-family: inherit;
  font-size: 20px;
  padding-left: 2%;
}

.hidden {
  display: none;
}

.subtitle, .log-poke__form-field {
  font-size: 24px;
}

.errors, .auth__errors, .log-poke__errors {
  color: #D25737;
  height: 30px;
  text-align: center;
  margin-top: 2vh;
  font-size: 24px;
}

.nav {
  box-sizing: border-box;
  background-color: white;
  border-top: 2px solid #F7DA99;
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  width: 100%;
  transition-duration: .5s;
}
@media screen and (min-width: 1000px) {
  .nav {
    top: 0;
    margin-bottom: 10vh;
    border-top: none;
    border-bottom: 2px solid #F7DA99;
  }
}

.nav__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  height: 100%;
  text-align: center;
  transition-duration: .5s;
  max-height: 60px;
}
.nav__icon div {
  height: 90%;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition-duration: .5s;
  margin: 0 auto;
}
.nav__icon p {
  display: none;
}
@media screen and (min-width: 1000px) {
  .nav__icon {
    background-position: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #F7DA99;
    font-size: 24px;
  }
  .nav__icon div {
    margin: 0;
    max-height: 60px;
  }
  .nav__icon p {
    color: inherit;
    display: block;
    text-align: center;
    margin-left: 2%;
  }
  .nav__icon:visited {
    color: inherit;
    text-decoration: none;
  }
}
.nav__icon:hover div {
  transition-duration: .5s;
}

.nav__icon--calendar div {
  background-image: url("../images/icons/calendar-yellow.svg");
}

.nav__icon--calendar--selected, .nav__icon--calendar:hover, .nav__shell .nav__icon--calendar {
  color: #6285db;
  transition-duration: .5s;
}
.nav__icon--calendar--selected div, .nav__icon--calendar:hover div, .nav__shell .nav__icon--calendar div {
  background-image: url("../images/icons/calendar-blue.svg");
  transition-duration: .5s;
}

.nav__icon--droplet div {
  background-image: url("../images/icons/droplet-yellow.svg");
}

.nav__icon--droplet--selected, .nav__icon--droplet:hover, .nav__shell .nav__icon--droplet {
  color: #D25737;
  transition-duration: .5s;
}
.nav__icon--droplet--selected div, .nav__icon--droplet:hover div, .nav__shell .nav__icon--droplet div {
  background-image: url("../images/icons/droplet-red.svg");
  transition-duration: .5s;
}

.nav__icon--settings div {
  background-image: url("../images/icons/settings-yellow.svg");
}

.nav__icon--settings--selected, .nav__icon--settings:hover, .nav__shell .nav__icon--settings {
  color: #0b101a;
  transition-duration: .5s;
}
.nav__icon--settings--selected div, .nav__icon--settings:hover div, .nav__shell .nav__icon--settings div {
  background-image: url("../images/icons/settings-black.svg");
  transition-duration: .5s;
}

.nav__shell {
  z-index: -1;
}

.auth__form {
  color: #0b101a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 80%;
}

.auth__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2vh;
  color: #e4a312;
}
.auth__form-field:last-of-type {
  margin-top: 2vh;
}

.auth__form-input {
  border: 2px solid #e4a312;
  min-width: 300px;
}
.auth__form-input:valid {
  border: 2px solid #0a814f;
  outline-color: #0a814f;
}

.auth__title {
  color: #e4a312;
}

.auth__login-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.auth__login-signup p {
  color: #0b101a;
  font-size: 16px;
  margin-top: 2vh;
}
.auth__login-signup p a {
  color: inherit;
  font-weight: bold;
}
.auth__login-signup p a:hover {
  color: #6285db;
}
.auth__login-signup p a:visited {
  color: inherit;
}

.auth__submit {
  background-color: #e4a312;
  border: 0px;
  color: white;
  transition-duration: .25s;
}
.auth__submit:hover {
  background-color: #f0b83a;
}

.settings {
  font-size: 24px;
}

.settings__title {
  color: #0b101a;
}

.settings__fields {
  display: flex;
  flex-direction: column;
}

.settings__label {
  background-color: white;
  border: 2px solid #0b101a;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
  margin-bottom: 2vh;
}

.settings__input {
  font-size: inherit;
  height: 90%;
  width: 80%;
  border: 0px;
  padding-left: 2%;
  color: #0b101a;
}
.settings__input::placeholder {
  color: #0b101a;
}

.settings__input--save::placeholder {
  color: #95989A;
}

.settings__input__button, .settings__input__button--edit, .settings__input__button--save {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 50px;
  border: 0px;
  margin-right: 2%;
}
.settings__input__button:hover, .settings__input__button--edit:hover, .settings__input__button--save:hover {
  cursor: pointer;
}
.settings__input__button:focus, .settings__input__button--edit:focus, .settings__input__button--save:focus {
  outline: none;
}

.settings__input__button--edit {
  background-image: url(../images/icons/pencil-edit.svg);
}

.settings__input__button--save {
  background-image: url(../images/icons/save-green.svg);
}

.settings__input--new {
  color: #95989A;
}

#shares li:not(:last-of-type) {
  margin-bottom: 3%;
}

.settings__sign-out {
  background-color: #0b101a;
  color: white;
  margin-top: 6vh;
}

.log-poke__title {
  color: #D25737;
}

.log-poke__form {
  color: #0b101a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 80%;
  max-width: 350px;
}
@media screen and (min-width: 500px) {
  .log-poke__form {
    align-items: center;
    font-size: 2rem;
  }
}

.log-poke__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #D25737;
  margin-bottom: 2vh;
  width: 100%;
}

.log-poke___toggle-bttn input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.log-poke__form-field label {
  background-color: white;
  border: 2px solid #D25737;
  border-radius: 5px;
  color: #D25737;
  flex: 1;
  font-size: 1.25rem;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-poke__form-field label:last-of-type {
  margin-left: 5px;
}
@media screen and (min-width: 500px) {
  .log-poke__form-field label {
    height: 55px;
    width: 200px;
  }
}

.log-poke__form-field label:hover {
  cursor: pointer;
}

.log-poke___toggle-bttn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.log-poke___toggle-bttn input:checked + label {
  background-color: #D25737;
  color: white;
}

.switch_left, .switch_right {
  background-color: white;
  border: 2px solid solid #D25737;
  border-radius: 5px;
  color: #D25737;
}

.log-poke__form-input {
  border: 2px solid #D25737;
}

.log-poke___form-select {
  background-color: white;
  border: 2px solid #D25737;
  border-radius: 5px;
  box-sizing: content-box;
  height: 50px;
  padding-left: 2%;
  font-size: 1.5rem;
  color: #0b101a;
  width: 100%;
}
.log-poke___form-select:hover {
  cursor: pointer;
}

.log-poke__submit {
  background-color: #D25737;
  border: 0px;
  color: white;
  transition-duration: .25s;
}
.log-poke__submit:hover {
  background-color: #d66447;
}

.calendar {
  color: #6285db;
  height: auto;
}

.calendar__select-month {
  border: 2px solid #6285db;
  font-size: 1rem;
  width: 350px;
}

.calendar__grid {
  background-color: white;
  border-radius: 5px;
  margin: 2vh 0 15vh 0;
  border: 2px solid #6285db;
  display: flex;
  flex-direction: column;
  width: 95%;
}
@media screen and (min-width: 1000px) {
  .calendar__grid {
    width: 75%;
  }
}

.grid__days {
  background-color: #6285db;
  color: white;
  width: 100%;
  height: 5vh;
  border-bottom: 2px solid #6285db;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.day-name {
  width: 14%;
}

.days__container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.day {
  min-height: 80px;
  flex-basis: calc(100% / 7);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.day:not(:nth-of-type(7n)) {
  border-right: 1px solid #6285db;
}
.day:not(:nth-of-type(n + 36)) {
  border-bottom: 1px solid #6285db;
}
@media screen and (min-width: 500px) {
  .day {
    min-height: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .day {
    min-height: 140px;
  }
}

.day__date {
  flex: 1;
  font-size: 14px;
  text-align: left;
  padding: 3% 0 0 3%;
}

.red-drop {
  background-image: url("/images/icons/droplet-red.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70%;
  width: 30%;
}

.single-poke {
  text-align: center;
}

.double-poke {
  display: flex;
  flex-direction: row;
}

.poke-bleed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}
