body {
  background-color: #FCF9F2;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body h1, body p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
@media screen and (min-width: 1000px) {
  #root {
    margin-top: 10vh;
  }
}

.page, .auth, .settings {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .page, .auth, .settings {
    margin-top: 10vh;
  }
}

.page-title, .auth__title, .settings__title {
  font-size: 32px;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .page-title, .auth__title, .settings__title {
    font-size: 3rem;
  }
}

.button, .auth__submit {
  border-radius: 5px;
  font-size: 1.25rem;
  height: 60px;
  text-transform: uppercase;
  width: 50vw;
  margin-bottom: 2%;
}
@media screen and (min-width: 500px) {
  .button, .auth__submit {
    font-size: 1.5rem;
    height: 75px;
    width: 200px;
  }
}

.nav {
  background-color: white;
  border-top: 2px solid #F7DA99;
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  width: 100%;
  transition-duration: .5s;
}
@media screen and (min-width: 1000px) {
  .nav {
    top: 0;
    margin-bottom: 10vh;
    border-top: none;
    border-bottom: 2px solid #F7DA99;
  }
}

.nav__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  height: 60%;
  text-align: center;
  transition-duration: .5s;
}
.nav__icon div {
  height: 100%;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition-duration: .5s;
  margin: 0 auto;
}
.nav__icon img {
  height: 100%;
}
.nav__icon p {
  display: none;
}
@media screen and (min-width: 1000px) {
  .nav__icon {
    background-position: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #F7DA99;
    font-size: 24px;
  }
  .nav__icon div {
    margin: 0;
  }
  .nav__icon p {
    color: inherit;
    display: block;
    text-align: center;
    margin-left: 2%;
  }
  .nav__icon:visited {
    color: inherit;
    text-decoration: none;
  }
}
.nav__icon:hover div {
  transition-duration: .5s;
}

.nav__icon--calendar div {
  background-image: url("../images/icons/calendar-yellow.svg");
}
.nav__icon--calendar:hover {
  color: #6285db;
  transition-duration: .5s;
}
.nav__icon--calendar:hover div {
  background-image: url("../images/icons/calendar-blue.svg");
  transition-duration: .5s;
}

.nav__icon--droplet div {
  background-image: url("../images/icons/droplet-yellow.svg");
}
.nav__icon--droplet:hover {
  color: #D25737;
  transition-duration: .5s;
}
.nav__icon--droplet:hover div {
  background-image: url("../images/icons/droplet-red.svg");
  transition-duration: .5s;
}

.nav__icon--settings div {
  background-image: url("../images/icons/settings-yellow.svg");
}
.nav__icon--settings:hover {
  color: #0b101a;
  transition-duration: .5s;
}
.nav__icon--settings:hover div {
  background-image: url("../images/icons/settings-black.svg");
  transition-duration: .5s;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.auth__form {
  color: #0b101a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  width: 80%;
}
@media screen and (min-width: 500px) {
  .auth__form {
    align-items: center;
    font-size: 2rem;
  }
}

.auth__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2%;
  color: #e4a312;
}
.auth__form-field:last-of-type {
  margin-top: 2vh;
}

.auth__form-input {
  border: 2px solid #e4a312;
  border-radius: 5px;
  height: 50px;
  padding-left: 2%;
  font-size: inherit;
  color: #0b101a;
}
.auth__form-input:valid {
  border: 2px solid #0a814f;
  outline-color: #0a814f;
}
@media screen and (min-width: 500px) {
  .auth__form-input {
    width: 350px;
  }
}

.auth__title {
  color: #e4a312;
}

.auth__login-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth__login-signup p {
  color: #0b101a;
  font-size: 16px;
  margin-top: 2%;
}
.auth__login-signup p a {
  font-weight: bold;
}
.auth__login-signup p a:hover {
  color: #6285db;
}
.auth__login-signup p a:visited {
  color: inherit;
}

.auth__submit {
  background-color: #e4a312;
  border: 0px;
  color: white;
}

.settings__title {
  color: #0b101a;
}
