$white: white;
$ltyell: #FCF9F2;
$yell: #F7DA99;
$mdyell: #f0b83a;
$dkyell: #e4a312;
$ltred: #d66447;
$red: #D25737;
$blue: #6285db;
$black: #0b101a;
$gray: #95989A;
$green: #0a814f;

$input-border: 2px solid;
$button-border: 5px;

$tablet: 500px;
$desktop: 1000px;